<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <title>Главная страница</title>
</head>
<body>
<div class="index d-flex">
    <div class="rooms border-end border-secondary border-2">
        <div class="index__menu">
            <button id="createPopupRoom" type="button" class="btn btn-success btn-lg">Создать комнату</button>
        </div>
        <div class="rooms__box d-flex flex-wrap justify-content-between">
            {{#each shortRooms}}
                <div id="{{this.id}}" class="room border border-secondary border-3 text-center rounded">
                    <div class="block__center fs-5">
                        <div class=" fs-5">{{this.roomName}}</div>
                        <button type="button" class="room__button-delete btn btn-sm btn-danger">Удалить</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="devices">
        <div class="index__menu">
            <button id="createPopupDevice" type="button" class="btn btn-success btn-lg">Создать устройство</button>
            <button id="createScript" onclick="location.href='/scripts'" type="button" class="btn btn-success btn-lg">
                Сценарии
            </button>
        </div>
        <div class="index__menu">
            <select id="deviceFilter" class="index__type-filter form-select form-select-lg mb-3"
                    aria-label="Default select example">
                <option value="" selected>Фильтровать по типу устройства</option>
                {{#each deviceTypes}}
                    <option
                        {{#if this.isSelected}}
                        selected
                        {{/if}}
                        value={{@key}}
                    >
                        {{this.text}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="devices__box d-flex flex-wrap">
            {{#each devices}}
                <div id={{this._id}} class="device border border-secondary border-2 rounded">
                    <div class="device__title text-center fs-4">{{this.name.value}}</div>
                    <div class="device__option">
                        <div class="device__option-name fs-6 bg-warning text-dark rounded">Тип</div>
                        <div class="device__option-value  border border-dark fs-6 bg-light text-dark  rounded">{{this.type}}</div>
                    </div>
                    {{#if this.refRoom}}
                        <div class="device__option">
                            <div class="device__option-name fs-6 bg-warning text-dark rounded">Комната</div>
                            <div class="device__option-value  border border-dark fs-6 bg-light text-dark  rounded">{{this.refRoom.text}}</div>
                        </div>
                    {{/if}}
                    {{#each (getDeviceAttributes this)}}
                        {{#if (isCommand this.[1].type)}}
                            <div class="text-center">
                                <button
                                        class="device__button-command {{this.[0]}} command w-100 btn btn-sm btn-dark"
                                        type="button">
                                    {{this.[1].text}}
                                </button>
                            </div>
                        {{else}}
                            <div class="device__option">
                                <div class="device__option-name fs-6 bg-warning text-dark rounded">{{this.[1].text}}</div>
                                <div class="{{this.[0]}} device__option-value border border-dark fs-6 bg-light text-dark  rounded">
                                    {{#if this.[1].value}}
                                        {{ this.[1].value}}
                                    {{else}}
                                        нет данных
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    <div class="text-center">
                        <button type="button" class="device__button-delete btn btn-sm btn-danger">Удалить
                        </button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{> popup}}
<div id="notificationScript" class="position-fixed  bottom-0 end-0 mb-4 me-4"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="js/index/index.js"></script>
</body>
</html>